{% extends 'base.html' %}

{% block content %}

{#    overflow : hidden -> 넘치는 것 숨겨줌 , scroll : 스크롤을 통해 내려가면서 알 수 있음#}
    <div style="margin: 2rem; text-align: center">
        <h1 style="font-family: 'Lobstar', cursive">hello world list</h1>

        <form action="/accounts/hello_world/" method="post">
            {% csrf_token %}
            <div class="input-group mb-3 w-50 m-auto">
                <input type="text" class="form-control"
                    name="hello_world_input">
                <button class="btn btn-dark" type="submit">
                Button
                </button>
            </div>
        </form>

        {% if hello_world_list %}

            {% for hello_world in hello_world_list %}
                <h3>{{ hello_world.text }}</h3>
            {% endfor %}
        {% endif %}
    </div>


{% endblock %}