.pragmatic_logo {
    font-family: 'Lobstar', cursive;
}
.pragmatic_footer_button {
    font-size: .8rem;
}

.pragmatic_footer {
    text-align: center;
}

.pragmatic_header {
    text-align:center;
}

